/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

.caja-mapa {
  height: 350px;
  width: 400px;
  margin: auto; }

@media screen and (min-width: 992px) {
  .w-30 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center; } }

.ml-20 {
  margin-left: 30px; }

.fecha {
  margin-left: 6px;
  padding: 2px 8px;
  border: 3.5px solid #877d7d;
  border-radius: 20px; }

.hora {
  margin-left: 6px;
  padding: 2px 8px;
  border: 3.5px solid #877d7d;
  border-radius: 20px; }

h2 {
  color: #fecf23;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 0 0 12px #2a1ba5; }

.bg-main {
  background-color: #05c3a8;
  width: 100%; }
  .bg-main div input {
    padding: 10px 15px;
    background-color: burlywood;
    color: #1c69a0;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px; }
  .bg-main div span {
    margin: 0 20px;
    font-size: 1.8rem;
    color: #ffffff; }

.hh-100 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.bg-color {
  background-color: tomato; }
  .bg-color section #cambiar {
    padding: 12px 20px;
    box-shadow: 0 0 10px #000000;
    transition: all .2s ease; }
    .bg-color section #cambiar:active {
      transform: translate(3px, 20px);
      box-shadow: 0 0 0 #000000; }

.bg-tres {
  background-color: #508fce; }

.bg-list {
  background-color: seagreen; }

.danger {
  background-color: rgba(251, 64, 17, 0.877);
  padding: 12px 20px; }

#guardar {
  background-color: #282735;
  padding: 10px 18px;
  color: white; }

#guardar:focus {
  outline: none; }

.bg-slider {
  background-color: #8989a8;
  height: 100vh; }

#cartas, #guardarAqui {
  height: 70vh;
  overflow-y: auto; }

#guardarAqui::-webkit-scrollbar, #cartas::-webkit-scrollbar {
  width: 10px; }

#guardarAqui::-webkit-scrollbar-track, #cartas::-webkit-scrollbar-track {
  background: #f1f1f1; }

#guardarAqui::-webkit-scrollbar-thumb {
  background-color: #888; }

#guardarAqui::-webkit-scrollbar-thumb:hover {
  background-color: #bd8307; }

#cartas::-webkit-scrollbar-thumb {
  background-color: #888; }

#cartas::-webkit-scrollbar-thumb:hover {
  background-color: #bd8307; }

.card-title {
  font-weight: 700;
  text-transform: uppercase; }

.bg-pokemon {
  background: linear-gradient(360deg, #d33f34 34%, #ffffff 30%); }

.border-b {
  border: 4px solid #000000; }

.popup {
  animation: pup .5s ease; }

@keyframes pup {
  0% {
    transform: scale(0.5); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

.remove {
  animation: borrar .6s ease; }

@keyframes borrar {
  from {
    transform: translateX(0);
    opacity: 1; }
  to {
    transform: translateX(50%);
    opacity: 0; } }

.notita {
  animation: nota .4s ease; }

@keyframes nota {
  from {
    transform: scale(0.5); }
  to {
    transform: scale(1); } }

.bg-canvas {
  background: #e17d00; }

.marco {
  border: 3.5px solid #02f52b;
  box-shadow: 0 0 12px #171717;
  border-radius: 11.5px; }

.hw-150 {
  height: 100px;
  width: 100px;
  cursor: grab; }

.p-20 {
  padding: 20px; }

.bg-adivina {
  background: #b35151; }

.ganaste {
  color: #32c843;
  text-shadow: 0 0 9px #000000; }

.perdiste {
  color: #ff1200;
  text-shadow: 0 0 9px #000000; }

.bg-slider2 {
  background: #d0ec6a; }

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  height: 400px;
  width: 500px;
  margin: auto; }
  .carousel .image-container {
    display: flex;
    transform: translateX(0);
    transition: all 0.3s linear; }
    .carousel .image-container img {
      height: 400px;
      width: 100%;
      object-fit: cover; }

.btn-slider {
  cursor: pointer;
  font-weight: 600; }

.bg-zoom {
  background: #6806e9; }

.efectito {
  text-shadow: 0 0 10px #beed2c;
  font-size: 2.5rem;
  color: #ffffff; }

.bg-lluvia {
  background: #ed4d4d; }
  .bg-lluvia section {
    height: 60vh;
    width: 80%;
    margin: auto;
    background-image: url("https://images.unsplash.com/photo-1491002052546-bf38f186af56?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8c25vd3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }

.caja-fecha {
  color: #efff00;
  font-weight: 600;
  font-size: 2rem; }

.bg-quiz {
  background: #29619e; }

.pw-container {
  width: 23%;
  padding: 18px;
  background: #000000;
  border-radius: 18px; }

#lon {
  width: 40px; }

.dd-flex {
  display: flex;
  justify-content: space-between;
  margin: 9px 0;
  align-items: center;
  color: #ffffff; }

.bg-game {
  background: #27918a; }

#juego {
  background: #92b360;
  height: 300px;
  width: 300px;
  position: relative; }
  #juego div {
    height: 30px;
    width: 30px;
    background: grey;
    position: absolute; }

#carga {
  height: 100%;
  width: 100%;
  background-color: #7428d8;
  position: fixed; }

#hidden {
  overflow: hidden; }
